.hero-bg{
   
    z-index: -1;
    position: absolute;
    background: linear-gradient(to right, #58efec, #e85c90);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: top left;
    transform: skewY(-4deg);
    color: black;
}
.hero-img{
   position: fixed;
   z-index: 20;
   
   background-position:center;
}
.logo-img{
    width: 500px;
    height: 500px;
    z-index: 20;
}